.profile-image {
  border-radius: 15%;
  object-fit: cover;
  width: 70%;
}

.about-me {
  margin-bottom: 2rem;
}

.social-icons {
  text-align: center;
}

.social-icon {
  font-size: 2rem;
  margin: 1rem;
}
